<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.控件">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Study">
        <activity
            android:name="com.example.布局.ViewPager.ViewPagerActivity"
            android:exported="false" />
        <activity
            android:name="com.example.布局.动画.AnimationActivity"
            android:exported="false" />
        <activity
            android:name="com.example.布局.RecyclerView.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name="com.example.布局.ListView.ListViewActivity"
            android:exported="false" />
        <activity
            android:name="com.example.布局.ConstrainLayoutActivity"
            android:exported="false" />
        <activity
            android:name="com.example.布局.GridLayoutActivity"
            android:exported="false" />
        <activity
            android:name="com.example.布局.TableLayoutActivity"
            android:exported="false" />
        <activity
            android:name="com.example.布局.FrameLayoutActivity"
            android:exported="false" />
        <activity
            android:name="com.example.布局.RelativeLayoutActivity"
            android:exported="false" />
        <activity
            android:name="com.example.布局.LinearLayoutActivity"
            android:exported="false" />
        <activity
            android:name="com.example.菜单.SecondMenuActivity"
            android:exported="false" />
        <activity
            android:name="com.example.首页.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.菜单.FirstMenuActivity"
            android:exported="false" />
        <activity
            android:name=".PopupWindowActivity"
            android:exported="false" />
        <activity
            android:name=".AlertDialogActivity"
            android:exported="false" />
        <activity
            android:name=".ToolbarActivity"
            android:exported="false" />
        <activity
            android:name=".ceshiActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".ProgressBarActivity"
            android:exported="false" />
        <activity
            android:name=".ImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".EditTextActivity"
            android:exported="false" />
        <activity
            android:name=".ButtonActivity"
            android:exported="false" />
        <activity
            android:name=".TestViewActivity"
            android:exported="false" />
    </application>

</manifest>